.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $color-pri-very-light;
    overflow: hidden;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    &__img {
        position: absolute;
        bottom: -2%;
        left: 15%;
        z-index: 10;
        height: 85%;

        @include res(htab) {
          height: 75%;
          left: 8%;
        }

        @include res(vtab) {
          height: 65%;
          left: 50%;
          transform: translateX(-50%);
        }
        
        img  {
            height: 100%;
            width: auto;
        }

        &:before {
            position: absolute;
            top: -5rem;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            display: inline-block;
            width: 35rem;
            height: 35rem;
            border-radius: 50%;
            background-color: $color-white; 
            z-index: -1;
        }

        &::after {
            position: absolute;
            top: 10rem;
            left: -2rem;
            content: "";
            display: inline-block;
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
            background-color: $color-sec-light;
            z-index: -1;
        }
    }

    &__text {
      position: absolute;
      top: 45%;
      right: 10%;
      transform: translateY(-50%);
      color: $color-black;
      z-index: 1;
      padding: 3rem;

      @include res(vtab) {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        width: 80%;
        text-align: center;
      }

      @include res(mobile) {
        top: 11%;
      }

      &--name {
        animation: move-in-right 2s ease-in;
      }

      &--prof {
        animation: move-in-left 2s ease-in;
      }

      .btn {
          position: relative;
          margin-top: 3rem;

          @include res(vtab) {
            margin-top: 1rem;
          }
      }
    }
}
