.info {
    margin-top: -30rem;
    padding: 40rem 0;
    width: 100%;
    background-color: $color-white;  
    text-align: center;

    &__img {
        position: relative;
        display: block;
        width: 30rem;
        height: 30rem;
        margin: 0 auto;
        transition: all .3s;
        background-color: $color-white;
        border-radius: 50%;
        @include shadow-light;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

        @include res(mobile) {
            width: 20rem;
            height: 20rem;
        }

        &:before {
            content: "";
            position: absolute;
            display: block;
            top: -5%;
            left: -5%;
            width: 100%;
            height: 100%;
            border: solid 0.5rem $color-sec;
            transition: all .3s;
            border-radius: 50%;
        }

        &:hover:before {
            top: 0%;
            left: 0%;
            transform: skewX(0deg) rotate(90deg);
            
        }

        &:hover {
            filter: brightness(0.9);
            transform: scale(1.03);
        }
    }

    &__heading {
        display: inline-block;
        margin: 3rem 0;
        color: $color-pri;
    }

    &__text {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @include res(vtab) {
            flex-direction: column;
        }

        .textbox {
            flex: 0 0 30%;

            @include res(vtab) {
                width: 60%;
                margin-left: 20%;
            }
           
            &__heading {
                display: inline-block;
                padding: 0 1rem;
                position: relative;
                margin-bottom: 2rem;
                z-index: 0;

                @include res(vtab) {
                    margin-top: 2rem;
                }

                &--2 {
                    @include res(vtab) {
                        margin-top: 7rem;
                    }
                }

                &:before {
                    @include underline($color-sec-light);
                    background: none;
                    border-bottom: solid 0.5rem $color-sec;
                    border-radius: 0.4rem;
                }
            }
        }
    }

        


}