.navigation { 
    &__options {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-out;
      z-index: 1070;
  
      &--active {
        visibility: visible;
        opacity: 1;
      }
  
      li {
        &:not(:first-child) {
          margin-top: 4rem;
        }
  
        list-style-type: none;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-sec 50%
        );
        background-size: 250%;
        transition: all 0.5s;
        padding: 1rem 2rem;
        letter-spacing: 3px;
  
        & a:link,
        & a:visited {
          text-transform: uppercase;
          text-decoration: none;
          color: $color-white;
          transition: all 0.2s;
        }

        &:hover a {
            color: $color-white; 
        }
  
        &:hover,
        &:active {
          background-position: 100%;
          transform: translateX(-1rem);
        }
  
        &:active {
          transform: translateX(-0.5rem);
        }
      }
    }
  
    &__burger {
      position: relative;
      width: 8rem;
      height: 8rem;
      position: fixed;
      top: 2rem;
      right: 5rem;
      background-color: $color-black;
      border-radius: 50%;
      z-index: 1;
      cursor: pointer;
      z-index: 1500;
      transition: all .3s;
      z-index: 1100;

      @include res(htab) {
        right: 2rem;
      }

      @include res(mobile) {
        width: 6rem;
        height: 6rem;
        right: 1rem;
        top: 1rem;
      }

      &--active {
          background-color: $color-white;
      }
  
      .bars-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4rem;
        height: 3rem;
    
  
        .bars {
          width: 100%;
          height: 0.5rem;
          background-color: $color-white;
          transition: all 0.6s;

          @include res(mobile) {
            width: 80%;
            margin-left: 10%;
          }
  
          &--top {
            position: absolute;
            top: 0;
            left: 0;
          }
  
          &--middle {
            position: absolute;
            top: 50%;
            left: 0;
            visibility: visible;
            opacity: 1;
            transform: translateY(-50%);
            transition: opacity .6s;
            transition-delay: .4s;
          }
  
          &--bottom {
            position: absolute;
            bottom: 0;
            left: 0;
          }
  
          &-toggled--middle {
            visibility: hidden;
            opacity: 0;
          }
  
          &-toggled--top {
            top: 50%;
            transform: translateY(-50%) rotate(135deg);
            background-color: $color-black;
          }
  
          &-toggled--bottom {
            top: 50%;
            transform: translateY(-50%) rotate(-135deg);
            background-color: $color-black;
          }
        }
      }
  
      &:hover {
        transform: scale(0.95);
      }
    }
  
    &__background {
      position: relative;
      background-color: $color-pri-light;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 3rem;
      right: 6rem;
      z-index: -1;
      transition: all 0.8s;
      z-index: 1050;

      @include res(htab) {
        right: 3rem;
      }

      @include res(mobile) {
        width: 4rem;
        height: 4rem;
        top: 2rem;
        right: 2rem;
      }
  
      &--active {
        transform: scale(120);
      }
    }
  }