.portfolio {
    width: 100%;
    background-color: $color-pri-very-light;
    text-align: center;
    margin-top: -24rem;

    &__heading {
            position: relative;
            display: inline-block;
            font-size: 3rem;
            margin: 3rem 0;
            padding: 1.5rem 4rem;;
            background-color: $color-pri;
            color: white;

            &:before {
                content: "";
                position: absolute;
                display: block;
                top: -15%;
                left: -5%;
                width: 100%;
                height: 100%;
                border: solid 0.4rem $color-sec;
                transition: all .3s;
                transform: skewX(6deg);
            }
    }

    &__showcase {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item {
          position: relative;
          width: 60%;
          max-width: 120rem;
          min-width: 90rem;
          height: 40rem;
          margin: 6rem 0;
          background-color: $color-pri;
          box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba($color-black, 0.5);
          transition: all .3s;
          

          @include res(vtab) {
            width: 80%;
            min-width: 20rem;
            min-height: 30rem;
            height: auto;
            border-radius: 12px;
            overflow: hidden;
            border-bottom: white 1rem solid;
          }

          &:hover {
              transform: scale(1.05);
          }
          &:hover img {
            transform: skewX(0);
            
          }

          &:hover .textbox__desc {
            outline-offset: 1rem;
            outline-color: rgba(white, 1);
          }

          &:hover .textbox__title {
              top: 10%;
              left: 10%;
              transform: rotate(360deg) scale(1.05);
          }

      

            img {
                position: absolute;
                right: -5%;
                top: 0;
                height: inherit;
                width: auto;
                transform: skewX(-8deg);
                transition: all .3s;
                cursor: pointer;
                border-left: 2rem solid $color-white;

                &:hover {
                    filter: brightness(0.8);
                }

                @include res(htab) {
                    transform: skew(0);
                    width: 80%;
                    height: auto;
                    right: 10%;
                    border-left: none;
                }

                @include res(vtab) {
                    width: 100%;
                    height: auto;
                    position: static;
                    margin: 0 auto;
                }
  
            
            }

            .textbox {     

                &__title {
                    position: absolute;
                    top: 2rem;
                    left: 2rem;
                    background-color: $color-sec;
                    display: inline-block;
                    padding: 1rem 2rem;
                    color: white;
                    margin-bottom: 1rem;
                    transition: all .3s ease-in-out;
                   
                    @include res(vtab) {
                        background-color: $color-pri;
                        border-radius: 15px;
                        border: solid 0.5rem white;
                    }
                }
    
                &__desc {
                    position: absolute;
                    bottom: 50%;
                    left: -5%;
                    transform: translateY(50%) skew(8deg);
                    padding: 2rem 5rem;
                    width: 55%;
                    max-height: 50%;
                    background-color: rgba($color-pri-very-light, 0.9);
                    text-align: left;
                    overflow: hidden;
                    outline: 0.5rem solid rgba(white, 0.3);
                    outline-offset: 0rem;
                    transition: all .3s ease-out;
                    transition-delay: .6s;

                    @include res(htab) {
                        width: 80%;
                        bottom: 0%;
                        left: 10%;
                        background: $color-white;
                    }

                    @include res(vtab) {
                        position: static;
                        outline: none;
                        transform: skewX(0);
                        width: 100%;
                        background-color: $color-pri;
                        color: white;
                    }

                    p {
                        transform: skewX(-8deg);
                        @include res(vtab) {
                            transform: skewX(0);
                        }
                        
                    }
                }
            }

        }

       

        
    }
}