.portfolio {
    width: 100%;
    background-color: $color-pri-very-light;
    text-align: center;
    margin-top: -24rem;
    padding-bottom: 10rem;

    &__heading {
            position: relative;
            display: inline-block;
            font-size: 3rem;
            margin: 3rem 0;
            padding: 1.5rem 4rem;;
            background-color: $color-pri;
            color: white;
            border-radius: 4px;

            &:before {
                content: "";
                position: absolute;
                display: block;
                top: -15%;
                left: -5%;
                width: 100%;
                height: 100%;
                border: solid 0.4rem $color-sec;
                transition: all .3s;
                border-radius: 4px;
            }
    }

    &__showcase {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 6rem;

        .item {
          position: relative;
          width: 60%;
          max-width: 120rem;
          min-width: 90rem;
          height: 40rem;
          margin: 6rem 0;
          background-color: $color-pri;
          transition: all .3s;
          border-radius: 0.5rem;       
          @include shadow-light;    

          @include res(vtab) {
            width: 80%;
            min-width: 20rem;
            min-height: 30rem;
            height: auto;
            border-radius: 12px;
            overflow: hidden;
            border-bottom: $color-pri-light 1rem solid;
            background-color: $color-white;
          }

          &:hover img{
              transform: scale(1.09);
          }
          
          &__img {
                position: absolute;
                right: 0;
                top: 0;
                height: inherit;
                width: auto;
                transition: all .3s;
                cursor: pointer;
                overflow: hidden;
                border-top-right-radius: 0.5rem;  
                border-bottom-right-radius: 0.5rem; 
                @include res(vtab) {
                    position: relative;
                }


                img {
                    width: auto;
                    height: 100%;
                    transition: all 1s;

                    &:hover {
                        filter: brightness(0.8);
                    }
    
                    @include res(htab) {
                        width: auto;
                        width: 80%;
                        height: auto;
                        right: 10%;
                        border-left: none;
                    }
    
                    @include res(vtab) {
                        width: 100%;
                        height: auto;
                        position: static;
                        margin: 0 auto;
                    }
                }
          }

            .textbox {     

                &__title {
                    position: absolute;
                    top: 7%;
                    left: 7%;
                    border-radius: 0.5rem;
                    background-color: $color-sec;
                    display: inline-block;
                    padding: 1rem 2rem;
                    color: white;
                    margin-bottom: 1rem;
                    transition: all .3s ease-in-out;
                    border: solid 0.3rem white;
                   
                    @include res(vtab) {
                        position: static;
                        background: none;
                        border: none;
                        margin-top: 1rem;
                        text-transform: uppercase;
                        color: $color-black;
                    }
                }
    
                &__desc {
                    position: absolute;
                    bottom: 50%;
                    left: -5%;
                    transform: translateY(50%);
                    padding: 2rem 5rem;
                    width: 55%;
                    max-height: 50%;
                    text-align: left;
                    overflow: hidden;
                    background-color: $color-white;
                    border-radius: 4px;
                    border: solid 0.2rem rgba($color-black, 0.2);

                    @include res(htab) {
                        left: 7%;
                        bottom: 7%;
                        transform: translateY(0);
                    }

                    @include res(vtab) {
                        position: static;
                        width: 100%;
                        border: none;
                        border-radius: 0;
                        background: none;
                        text-align: justify;
                        padding-top: 0;
                    }

                
                        
                    
                }
            }

        }

       

        
    }
}