.btn {
    transition: all 0.3s;
    border-radius: 4rem;
  
    &:link,
    &:visited {
      text-decoration: none;
      padding: 1.5rem 5rem;
      display: inline-block;
      transition: all 0.3s;
    }
  
    &--sec {
      color: $color-white;
      background-color: $color-sec;
      &::after {
        background-color: $color-sec;
      }
    }
  
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.4s;
      background-color: $color-white;
      border-radius: 4rem;
    }
    
  
    &:hover {
      transform: scale(1.02) translateY(-0.6rem);
      box-shadow: 0 0 2rem 1rem rgba($color-black, 0.2);
  
      &::after {
        transform: scale(1.3);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(0.3rem);
      box-shadow: none;
    }
  }
  