.card {
    width: 30rem;
    height: 40rem;
    background-color: rgba($color-pri, 0.9);
    @include shadow-light;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease-in;
    color: $color-white;
    border-bottom: solid 0.7rem rgba($color-white, 0.93);

    @include res(vtab) {
      width: 35rem;
      height: 40rem;
      background-color: $color-pri;
      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      @include res(mobile) {
        width: 30rem;
        height: 37rem;
      }
  }
  
    &__heading {
      position: relative;
      z-index: 0;
      padding: 0 1rem;
      color: white;

      &::before {
        @include underline($color-sec);
      }
    }

    &__icon {
        fill: $color-sec;
        width: 10rem;
        margin-top: 1rem;

        @include res(vtab) {
          width: 8  rem;
          margin-top: 0rem;
        }
    }
  
    &__list {
      flex: 0 1 50%;
      width: 90%;
      padding: 1rem;

      h5 {
        opacity: 0.7;
      }

      @include res(vtab) {
        flex: 0 1 60%;
      }
        
      li {
          list-style: none;
      }
      &:not(::last-child) {
        margin-bottom: 0.3rem;
      }
    }

    &:hover {
      transform: scale(1.03);
    }
}
  
  