@keyframes move-in-right {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    30% {
      opacity: 1;
    }
  
    70% {
      transform: translateX(10%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes move-in-left {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
  
    30% {
      opacity: 1;
    }
  
    70% {
      transform: translateX(-10%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

  @keyframes heading-jump {
    0% {
      transform: translateY(-3rem);
    }
  
    20% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-2rem);
    }
  
    60% {
      transform: translateY(0);
    }
  
    80% {
      transform: translateY(-1rem);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  // Loader
  @keyframes ball-jump {
    0% {
      transform: translateY(0rem);
    }

    25% {
      transform: translateY(1.5rem) scale(0.2);
      background-color: $color-sec-light;
    }

    50% {
      transform: translateY(0rem) scale(1);
    }

    75% {
      transform: translateY(-1.5rem);
      background-color: $color-sec-light;
    }

    100% {
      transform: translateY(0rem);
    }
  }